<form [formGroup]="flightForm" (ngSubmit)="searchPlane()">
    <label for="departure_airport">Departure airport:</label>
    <input list="departure_airport_list" [(ngModel)]="departure_airport" type="text"/>
    <datalist id="departure_airport_list" *ngIf="options.length">
        <option *ngFor="let option of (options | airportSelector:departure_airport)" value="{{option}}">
    </datalist>
    <label for="arrival_airport">Arrival airport:</label>
    <input list="arrival_airport_list" [(ngModel)]="arrival_airport" type="text"/>
    <datalist id="arrival_airport_list" *ngIf="options.length">
        <option *ngFor="let option of (options | airportSelector:arrival_airport)" value="{{option}}">
    </datalist>
    <label for="departure_date">Departure date:</label>
    <input type="date" id="departure_date"/>
    <button type="submit">Submit</button>
</form>

<!-- Debug messages -->
<div *ngIf="messages.length">
  <h2>Debug Messages</h2>
  <button class="clear"
          (click)="messages=[]">clear</button>
  <div *ngFor='let message of messages'> {{message}} </div>
</div>
